<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ExecutionTime" value="03:01:01" />
    <add key="Sftp_Server" value="139.198.190.164" />
    <add key="Sftp_Port" value="60219" />
    <add key="Sftp_UserName" value="root" />
    <add key="Sftp_Password" value="C:\Users\hot.wang\Documents\visual studio 2015\Projects\SynchronizeWQFiles\SynchronizeWQFiles\bin\Debug\dzjt_ftp_server_key" />
    <add key="Sftp_FileDirectory" value="/mnt/emphr/sftp" />
    <add key="Local_FileDirectory" value="E:\新建文件夹" />
    <add key="SyncRangeTime" value="48" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DelHistoryImportfiles" value="7"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>